@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

:root {
  --clr-Bright-orange: hsl(31, 77%, 52%);
  --clr-Dark-cyan: hsl(184, 100%, 22%);
  --clr-Very-dark-cyan: hsl(179, 100%, 13%);
  --clr-transparent-white: hsla(0, 0%, 100%, 0.75);
  --clr-Very-light-gray: hsl(0, 0%, 95%);
}
* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lexend Deca", sans-serif;
  overflow: hidden;
  background-color: var(--clr-Very-light-gray);
  display: flex;
  place-content: center;
  height: 100vh;
}
html {
  font-size: 15px;
}
.container {
  width: 840px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}
